# Ignorar entornos virtuales
.venv/
venv/

# Archivos temporales de Python
__pycache__/
*.pyc
*.pyo

# Archivos de Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Archivos del sistema
.DS_Store
Thumbs.db
